html {
     /* to allow the #footer to be properly positioned
    at the bottom, even when #content is longer than
    the viewport high */
    min-height: 100%;
    position: relative;
    overflow-y: scroll;
}

body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    text-align: justify;
}

header {
    padding-top: 20px;
}

div.logo a {
    color: black;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

div.wrapper {
    max-width: calc(1000px - (30px * 2));
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

header div.wrapper {
}

header div.wrapper div.topbar {
   border-bottom: 1px solid black;
   display: flex;
   justify-content: space-between;
}

header nav {
    display: inline-block;
    align-self: flex-end;
    margin-left: 70px;
    text-align: right;
}

header nav a {
    color: #a5a5a5;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

main {
    margin-bottom: 5.5rem;
    display: block;
}

main h1{
    font-size: 36px;
    font-family: sans-serif;
}

main, /* this line for archives page */
main p{
    color: #333333;
    font-family: sans-serif;
    font-size: 15px;
}

main a{
    color: #428bca;
    text-decoration: none;
}

footer {
    color: #999999;
    font-size: 12px;
    text-align: center;
    height: 4em;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 1em;
    font-family: sans-serif;
}

footer a {
    font-weight: bold;
    text-decoration: none;
}

section.header {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

article {
    word-wrap: break-word;
}
blockquote {
    display: block;
    max-width: 100%;
    border-left: 5px solid #ccc;
    background-color: #f5f5f5;
    margin: 1.625em 1.5em 1.5em 1.5em;
    padding: 0.8rem;
}

